# Node / React Client
node_modules/
dist/
dist-ssr/
*.local
.env
.env.local
.env.*.local
.eslintcache
.prettiercache
.tsbuildinfo

# OS Metadata
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes

# Visual Studio / .NET Server
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
x64/
x86/
_ReSharper*/
*.userprefs
*.suo
*.suo.tmp

# IDEs (VS Code / Rider)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.targets
